

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


:root{
  --fontcolor-dark : #17202A; 
  --maincolor-green: #008000;
  --colorfocus-link: rgb(43, 135, 221);
  --alert-success: #d0f3cf;
  --alert-advertence: rgba(190, 240, 143, 0.664);
  --text-advertence:var(--fontcolor-dark)
}





